@font-face {
  font-family: 'Chicken_McNuggets';
  src: local('Chicken_McNuggets'), url(./fonts/ChickenMcNuggets.ttf) format('truetype');
}

.App {
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.App-header {
  background-color: #00bcd4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#title {
  font-family: 'Chicken_McNuggets';
  margin-bottom: 30px;
}

#result {
  margin: 20px 0px;
}

textarea {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 0.5em;
  width: 80%;
  min-width: 350px;
  max-width: 600px;
}

a.download {
  text-decoration: none;
  color: inherit;
  background: orange;
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 0.6em;
  font-weight: bold;
  margin-top: 30px;
}

a.download:hover, a.download:active {
  background: coral;
}
